<div class="container">
  <h2>Edit Tour</h2>
  <form [formGroup]="tourForm" (ngSubmit)="updateTour(id)">
    <div class="form-group">
      <label for="id">Id:</label>
      <input type="number" class="form-control" id="id" formControlName="id" readonly>
      <small style="color: darkred" *ngIf="tourForm.controls['id'].hasError('required') && tourForm.controls['id'].touched">Id required.</small>
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <small style="color: darkred" *ngIf="tourForm.controls['id'].hasError('required') && tourForm.controls['id'].touched">Name required.</small>

    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" formControlName="price">
      <small style="color: darkred" *ngIf="tourForm.controls['id'].hasError('required') && tourForm.controls['id'].touched">Price required.</small>

    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" id="description" formControlName="description">
      <small style="color: darkred" *ngIf="tourForm.controls['id'].hasError('required') && tourForm.controls['id'].touched">Description required.</small>

    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <button type="submit" class="btn btn-primary" routerLink="">Back</button>
  </form>
</div>
